body, html {
    height: 100%;
}
body {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 20px;
}
.container img {
    height: 40px;
    margin: auto;
}
p.info {
    margin-top: 10px;
    color: gray;
}
.container .form {
    width: 100%;
    border: 3px solid;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
    margin-top: 35px;
}
.container .form .icons {
    margin-bottom: 15px;
    float: right;
}
input {
    width: 100%;
    padding: 0px 0px 8px 8px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #3e3e3e;
    font-weight: 500;
    outline: none !important;
    transition: 0.2s;
    color: white;
}
input:focus {
    border-bottom: 2px solid #5eb04c;
}
.m15 {
    margin-top: 15px;
}
input.month {
    width: 60px;
}
input.cvv {
    width: 97px;
    margin-left: 10px;
}
div.button {
    margin-top: 30px;
    background: #5eb04c;
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 18px;
}